/* Variables de altura */
:root {
  --header-height: 60px;
  --footer-height: 20px;

  /* BACKGROUNDS */
  --bg: #000;
  --bg-header: #351b227a;
  --bg-characters: #351b227a;
  --bg-chat: #190f12a7;
  --bg-input: #000000;
  --bg-input-row: #351b227a;

  /* TEXTOS */
  --text: #dcdcdc;
  --text-navbar: #e45f5f;
  --text-about: #ffffff;
  --text-characters: #e45f5f;
  --text-btn: #ffffff;
  --text-btn-hover: #ffffff;
  --text-character-tab: #b6b6b6;
  --text-character-tab-hover: #a44f4fb2;

  /* ACCIONES / UI */
  --navbar-hover: #a44f4fb2;
  --message-bot-bg: #9a7b83;
  --message-user-bg: #b57486;
  --message-text: #321313;

  --input-border: #cbd5e1;
  --input-focus: #c94465;
  --send-btn: #351b22;
  --send-btn-hover: #a44f4fb2;

  --border-character-container-hover: #ffbcd992;
  --box-shadow-characters-container-hover: #ffa7a780;
}

body.light {
  --bg: #ffffffe7;
  --bg-header: #765959a9;
  --bg-characters: #f2bac4;
  --bg-chat: #feeaf3;
  --bg-input: #ffffff;
  --bg-input-row: #765959a9;

  --text: #000000;
  --text-navbar: #3b3b3b;
  --text-about: #000000;
  --text-characters: #df3b56;
  --text-btn: #656565;
  --text-btn-hover: #ffffff;
  --text-character-tab: #717171;
  --text-character-tab-hover: #e35e5e;

  --navbar-hover: #e35e5e;
  --message-bot-bg: #e7d4d8;
  --message-user-bg: #f2b8c6;
  --message-text: #000000;

  --input-border: #464646;
  --input-focus: #c94465;
  --send-btn: #e5c4c4;
  --send-btn-hover: #e35e5e;

  --border-character-container-hover: #c2105d92;
  --box-shadow-characters-container-hover: #960e0e80;
}

html {
  overflow-x: hidden;
}

/* Body ocupa toda la pantalla */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Header fijo arriba */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  background-color: var(--bg-header);
  box-shadow: 0 2px 6px #0000001a;
  z-index: 1000;
}

.changeTheme {
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 1rem;
  background-color: transparent;
  border-radius: 10px;
  background-image: url("/resource/icons/soleado.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s;
}

body.light .changeTheme {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-image: url("/resource/icons/luna.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

body.light .changeTheme:hover {
  background-image: url("/resource/icons/lunahover.png");
}

.changeTheme:hover {
  background-color: var(--navbar-hover);
}

/* Links del header */
.navbar__links {
  align-items: center;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.navbar__links a {
  text-decoration: none;
  color: var(--text-navbar);
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar__links a:hover,
.navbar__links a.active {
  background-color: var(--navbar-hover);
  color: #ffffff;
}

/* MAIN*/
main {
  flex: 1;
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
}
/* Primero: para mobile */

/* -- HOME DE MOBILE -- */
.title {
  color: #979797;
  font-weight: 600;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.character-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 150px;
  padding: 0.2rem;
  margin: 0.5rem;
  background-color: var(--bg-characters);
}

.character-image {
  width: 300px;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.character-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 4px 12px var(--box-shadow-characters);
}

.character-name {
  font-family: Helvetica;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-characters);
  text-align: center;
  text-transform: uppercase;
}
.character-name::before {
  content: attr(data-mobile); /* nombre por defecto en mobile */
}

/* -- CHAT DE MOBILE -- */
.link {
  display: none;
}

/* CONTENEDOR GENERAL */
.view-chat {
  display: flex;
  width: 100vw; /* ocupa todo el ancho de la ventana */
  max-width: none; /* quita la limitación */
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  margin: 0;
}

.view__title {
  margin-bottom: 0.25rem;
  color: #0f172a;
}

.view__subtitle {
  color: #64748b;
  margin-bottom: 1.5rem;
}

/* VENTANA CHAT */
.chat-topbar {
  display: flex;
  justify-content: start;
  background-color: var(--bg);
  border-bottom: 1px solid #ccc;
  padding: 0.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.character-tab {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  background-color: transparent;
  color: var(--text-character-tab);
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.character-tab:hover {
  border-bottom: 2px solid #aaa;
}

.character-tab.active {
  border-bottom: 2px solid var(--text-character-tab-hover);
  color: var(--text-character-tab-hover);
}

.chat-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

body.light .chat-window {
  box-shadow: 0 4px 12px #00000033;
}

/* MENSAJES */
.chat-messages {
  flex: 1;
  padding: 1.25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg-chat);
}

/* BURBUJA BASE */
.message {
  max-width: 75%;
  padding: 0.8rem 1rem;
  border-radius: 18px;
  line-height: 1.5;
  font-size: 0.95rem;
  word-wrap: break-word;
  box-sizing: border-box;
}

/* MENSAJE BOT */
.message--bot {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
  background: var(--message-bot-bg);
  color: var(--message-text);
  border-bottom-left-radius: 6px;
}

/* MENSAJE USUARIO */
.message--user {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-end;
  background: var(--message-user-bg);
  color: var(--message-text);
  border-bottom-right-radius: 6px;
}

/* INPUT + BOTÓN FIJOS ABAJO */
.chat-input-row {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  background: var(--bg-input-row);
  flex: 0 0 auto;
  flex-shrink: 0;
}

/* INPUT */
.chat-input {
  flex: 1;
  border: 1px solid var(--input-border);
  background-color: var(--bg-input);
  color: var(--text);
  border-radius: 12px;
  padding: 0.9rem 1rem;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s;

  /* Reset de estilos nativos de navegador */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.chat-input:focus {
  border-color: var(--input-focus);
  box-shadow: 0 0 0 1px #c94465;
}

/* BOTÓN */
.chat-send {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  background: var(--send-btn);
  color: var(--text-btn);
  padding: 0 1.25rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.chat-send:hover {
  background: var(--send-btn-hover);
  color: var(--text-btn-hover);
  transform: translateY(-1px);
}

.chat-send:active {
  transform: translateY(0);
}

/* -- NOSOTROS -- */
.nosotros {
  width: min(80%, 600px);
  min-width: 250px;
  padding: 2rem;
  color: var(--text);

  margin: 0 auto;
  text-align: left;

  max-height: 70vh;
  box-sizing: border-box;
}

.nosotros p {
  font-size: 1rem;
  line-height: 1.5;
}

/* PARA TABLET */
@media (min-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .character-container {
    height: 250px;
    padding: 0.2rem;
    margin: 1rem;
  }

  .character-image {
    width: 400px;
    height: 200px;
  }

  .character-image img {
    height: 200px;
  }

  .character-name {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  /* -- CHAT -- */
  .message--user {
    font-size: 1.2rem;
  }
  .message--bot {
    font-size: 1.2rem;
  }

  /* -- ABOUT -- */
  .nosotros {
    font-size: 2rem;
    max-height: 100vh;
  }
  .nosotros p {
    font-size: 1.5rem;
  }
}

/* PARA DESKTOP */
@media (min-width: 1024px) {
  header {
    justify-content: flex-start;
  }

  /* -- HOME -- */
  .main-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem;
    justify-content: flex-start;
  }

  .character-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    flex: 0 0 350px;
    height: 550px;
  }

  .character-container:hover {
    border: 1px solid var(--border-character-container-hover);
    box-shadow: 0 0 10px var(--box-shadow-characters-container-hover);
  }

  .character-image {
    width: 300px;
    height: 550px;
    object-fit: contain;
  }

  .character-image img {
    height: min(550px, 90vh);
    object-position: center;
    height: 550px;
  }

  .character-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem;
    font-weight: 600;
  }

  .character-name::before {
    content: attr(data-desktop); /* nombre corto en desktop */
  }

  /* -- CHAT -- */
  .view-chat {
    justify-content: center;
  }

  .chat-window {
    width: 60%;
    height: 95%;
  }

  .chat-send {
    font-size: 1.2rem;
    font-weight: 100;
  }
}

/* Sub-rango desktop 1024px a 1180px */
@media (min-width: 1024px) and (max-width: 1180px) {
  /* Contenedores de personajes más pequeños */
  .character-container {
    flex: 0 0 250px; /* ancho más pequeño */
    height: 400px; /* altura más compacta */
  }

  .character-image {
    width: 220px;
    height: 400px;
  }

  .character-image img {
    height: 400px;
    object-position: center;
  }

  .character-name {
    font-size: 1.5rem; /* letra más pequeña que en desktop grande */
  }
}

/* UNIVERSALES */
/* SCROLL */
.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* status */
.loading {
  color: #000000;
}
.hidden {
  display: none;
}

.error-container {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}
