/* Variables de altura */
:root {
  --header-height: 60px;
  --footer-height: 20px;
}

html {
  overflow-x: hidden;
}
/* Body ocupa toda la pantalla */
body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
  color: white;
  overflow-y: auto;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Header fijo arriba */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);

  display: flex;
  justify-content: center; /* links en el centro en mobile */
  align-items: center;
  padding: 0 20px;

  background-color: #351b227a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Links del header */
.navbar__links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.navbar__links a {
  text-decoration: none;
  color: #e45f5f;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar__links a:hover,
.navbar__links a.active {
  background-color: #a44f4fb2;
  color: rgb(213, 213, 213);
}

/* MAIN*/
main {
  flex: 1;
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
}
/* Primero: para mobile */

/* -- HOME DE MOBILE -- */
.title {
  color: rgb(151, 151, 151);
  font-weight: 600;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.character-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;

  height: 150px;
  padding: 0.2rem;
  margin: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.089);
  background-color: #351b227a;
}

.character-image {
  width: 300px;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.character-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.character-name {
  font-family: Helvetica;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #e45f5f;
  text-align: center;
  text-transform: uppercase;
}
.character-name::before {
  content: attr(data-mobile);  /* nombre por defecto en mobile */
}

/* -- CHAT DE MOBILE -- */
.link {
  display: none;
}

/* CONTENEDOR GENERAL */
.view-chat {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.view__title {
  margin-bottom: 0.25rem;
  color: #0f172a;
}

.view__subtitle {
  color: #64748b;
  margin-bottom: 1.5rem;
}

/* VENTANA CHAT */
.chat-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

/* MENSAJES */
.chat-messages {
  flex: 1;
  padding: 1.25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #190f12a7;
}

/* BURBUJA BASE */
.message {
  max-width: 75%;
  padding: 0.8rem 1rem;
  border-radius: 18px;
  line-height: 1.5;
  font-size: 0.95rem;
  word-wrap: break-word;
  box-sizing: border-box;
}

/* MENSAJE BOT */
.message--bot {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
  background: #9a7b83;
  color: #321313;
  border-bottom-left-radius: 6px;
}

/* MENSAJE USUARIO */
.message--user {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-end;
  background: #b57486;
  color: #321313;
  border-bottom-right-radius: 6px;
}

/* INPUT + BOTÓN FIJOS ABAJO */
.chat-input-row {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  border-top: 1px solid #351b227a;
  background: #351b227a;
  flex: 0 0 auto;
  flex-shrink: 0;
}

/* INPUT */
.chat-input {
  flex: 1;
  border: 1px solid #cbd5e1;
  background-color: #000000;
  color: white;
  border-radius: 12px;
  padding: 0.9rem 1rem;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s;

  /* Reset de estilos nativos de navegador */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.chat-input:focus {
  border-color: #c94465;
  box-shadow: 0 0 0 1px #c94465;
}

/* BOTÓN */
.chat-send {
  border: none;
  background: #351b22;
  color: rgb(255, 255, 255);
  padding: 0 1.25rem;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.chat-send:hover {
  background: #a44f4fb2;
  transform: translateY(-1px);
}

.chat-send:active {
  transform: translateY(0);
}

/* -- NOSOTROS -- */
.nosotros {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: min(80%, 600px);
  min-width: 250px;
  padding: 1rem;
  color: white;

  margin: 0 auto;
  text-align: center;

  max-height: 80vh;
  box-sizing: border-box;
}

.nosotros p {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* PARA TABLET */
@media (min-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .character-container {
    height: 250px;
    padding: 0.2rem;
    margin: 1rem;
  }

  .character-image {
    width: 400px;
    height: 200px;
  }

  .character-image img {
    height: 200px;
  }

  .character-name {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  /* -- CHAT -- */
  .message--user {
    font-size: 1.2rem;
  }
  .message--bot {
    font-size: 1.2rem;
  }

  /* -- ABOUT -- */
  .nosotros {
    font-size: 2rem;
    max-height: 100vh;
  }
  .nosotros p {
    font-size: 1.5rem;
  }
}

/* PARA DESKTOP */
@media (min-width: 1024px) {
  header {
    justify-content: flex-start;
  }

  /* -- HOME -- */
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .character-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    width: 350px;
    height: 550px;
  }

  .character-container:hover {
    border: 1px solid rgba(255, 188, 217, 0.574);
    box-shadow: 0 0 10px rgba(255, 167, 167, 0.5);
  }
  
  .character-image {
    width: 300px;
    height: 550px;
    object-fit: contain;
  }
  
  .character-image img {
    object-position: center;
    height: 550px;
  }

  .character-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem;
    font-weight: 600;
  }

  .character-name::before {
    content: attr(data-desktop);  /* nombre corto en desktop */
  }

  /* -- CHAT -- */
  .view-chat {
    justify-content: center;
  }

  .chat-window {
    width: 60%;
    height: 95%;
  }

  .chat-send {
    font-size: 1.2rem;
    font-weight: 100;
  }
  
}

/* UNIVERSALES */
/* SCROLL */
.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* status */
.loading {
  color: black;
}
.hidden {
  display: none;
}
/* Independiente de la medida de pantalla */
/* BADGE */
.route-badge {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  bottom: auto;

  background-color: #e45f5f62;
  color: rgb(165, 165, 165);
  font-family: monospace;
  font-size: 0.7rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.5rem;
}

.route-badge span {
  color: rgb(165, 165, 165);
}

.error-container {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}
